<div class="row">
    <div class="col-sm-1 col-md-1 col-md-offset-1 col-sm-offset-1">
        <img src="/assets/images/controls/Keyboard_White_Arrow_Up.png" alt="Keyboard_UP">
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <img src="/assets/images/controls/Keyboard_White_Arrow_Left.png" alt="Keyboard_LEFT">
        <img src="/assets/images/controls/Keyboard_White_Arrow_Down.png" alt="Keyboard_DOWN">
        <img src="/assets/images/controls/Keyboard_White_Arrow_Right.png" alt="Keyboard_RIGHT">
    </div>
</div>