<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Drone Status</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rotors</h3>
                </div>
                <div class="panel-body">
                        <#list dronie.getNewestStatus().rotors as rotor>
                            <#if rotor.rpm <= 12000 && rotor.rpm gt 6000>
                                <span class="label label-warning">
                            <#elseif rotor.rpm <= 6000>
                                <span class="label label-danger">
                            <#else>
                                <span class="label label-success">
                            </#if>
                            ${rotor.rotorPosition}</span>
                        </#list>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Akkus</h3>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            Akku 1: 60%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                            Akku 2: 55%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                            Akku 3: 10%
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Position</h3>
                </div>
                <div class="panel-body">
                    <div id="map" style="width: 100%, height: 400px"></div>
                    <script>
                        var map = new ol.Map({
                            target: 'map',
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.MapQuest({layer: 'osm'})
                                })
                            ],
                            view: new ol.View({
                                center: ol.proj.transform([9.063836,47.047136], 'EPSG:4326', 'EPSG:3857'),
                                zoom: 16
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>