<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Drone Status</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rotors</h3>
                </div>
                <div class="panel-body center-block">
                    <h3>
                        <#list dronie.getNewestStatus().rotors as rotor>
                            <#if rotor.rpm <= 12000 && rotor.rpm gt 6000>
                                <span class="label label-warning">
                            <#elseif rotor.rpm <= 6000>
                                <span class="label label-danger">
                            <#else>
                                <span class="label label-success">
                            </#if>
                            ${rotor.rotorPosition} (${rotor.rpm} RPM)</span>
                        </#list>
                    </h3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Akkus</h3>
                </div>
                <div class="panel-body">
                    <#list dronie.getNewestStatus().akkus as akku>
                        <h4><span class="label label-primary">Akku: ${akku.akkuNumber}</span></h4>
                        <div class="progress">
                            <#if akku.getRemainingLoadPercentage() gte 70>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="${akku.getRemainingLoadPercentage()}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: ${akku.getRemainingLoadPercentage()}%">
                            <#elseif akku.getRemainingLoadPercentage() gt 35 && akku.getRemainingLoadPercentage() < 70 >
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="${akku.getRemainingLoadPercentage()}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: ${akku.getRemainingLoadPercentage()}%">
                            <#else>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="${akku.getRemainingLoadPercentage()}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: ${akku.getRemainingLoadPercentage()}%">
                            </#if>
                                ${akku.getRemainingLoadPercentage()}%
                            </div>
                        </div>
                    </#list>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Position</h3>
                </div>
                <div class="panel-body">
                    <div id="map" style="width: 100%, height: 400px"></div>
                    <script>
                        var map = new ol.Map({
                            target: 'map',
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.MapQuest({layer: 'osm'})
                                })
                            ],
                            view: new ol.View({
                                center: ol.proj.transform([9.063836,47.047136], 'EPSG:4326', 'EPSG:3857'),
                                zoom: 16
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>